<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ SITENAME }}: {{ TAGLINE }}</title>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    </head>
    <body>
        <header>
            <h1>{{ SITENAME }}</h1>
            <p class="tagline">{{ TAGLINE }}</p>
            <nav>
                <span>List of Pages, including "tag" button</span>
            </nav>
        </header>
        <main>
        <h2>Article Or List Title</h2>
        I am the main content. An article title and content should go here,
        or a list of things.
        </main>
        <footer>
            And I am the footer. A reddit button should go here.
        </footer>
    </body>
</html>
