<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ SITENAME }}: {{ TAGLINE }}</title>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    </head>
    <body>
        <header>
            <h1>{{ SITENAME }}</h1>
            <p class="tagline">{{ TAGLINE }}</p>
            <nav>
                {% for (item, href) in MENUITEMS %}
                <a href="{{href}}">{{item}}</a>
                {% endfor %}
            </nav>
        </header>
        <main>
        <h2>Recent Articles</h2>
        {% for article in articles %}
        <p class="pub-date">{{ article.date|strftime(DATE_FORMAT)}}</p>
        <a href="{{article.url}}">{{ article.title }}</a>
        <div class="summary">
            {{article.summary}}
        </div>
        {% endfor %}
        </main>
        <footer>
            {% for widget in SOCIAL %}
            {{widget}}
            {% endfor %}
        </footer>
    </body>
</html>
