<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ SITENAME }}: {{ TAGLINE }}</title>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    </head>
    <body>
        <header>
            <h1><a href="{{SITEURL}}">{{ SITENAME }}</a></h1>
            <p class="tagline">{{ TAGLINE }}</p>
            <nav>
                {% for (item, href) in MENUITEMS %}
                <a href="{{href}}">{{item}}</a>
                {% endfor %}
            </nav>
        </header>
        <main>
        <h1>Tags for {{ SITENAME }}</h1>
        {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
        </main>
        <footer>
            {% for widget in SOCIAL %}
            {{widget}}
            {% endfor %}
        </footer>
    </body>
</html>
